* {
    font-family: sans-serif;
}

#content {
    width: 800px;
    margin: auto;
}

h1 {
    color: darkred;
}

.list_entry {
    background: #ffd;
    padding: 10px 5px;
    margin: 0;
    border: black solid 1px;
    border-collapse: collapse;
    min-height: 20px;
}